body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

main {
    width: 900px;
    margin: auto;
}

article {
    background-color: rgb(29, 32, 32);
}

iframe {
    width: 400px;
    max-height: 400px;
}

#txt-historia {
    width: 200px;
}

img {
    width: 30px;
}

ul {
    list-style: none;
}